params {
    defaults_config   = "config/defaults.yaml"
    experiment_config = "config/experiment.json"
}

process {
    executor = 'local'
}

profiles {
    conda {
        process.conda = "${projectDir}/environment.yml"
        conda.enabled = true
    }
}

report.overwrite     = true
timeline.overwrite   = true
trace.overwrite      = true
