params {
    defaults_config   = "config/defaults.yaml"
    experiment_config = "config/experiment.json"
    docker_image      = "pooled-profiling:latest"
}

process {
    executor = 'local'
}

profiles {
    conda {
        process.conda = "${projectDir}/environment.yml"
        conda.enabled = true
    }
    docker {
        docker.enabled     = true
        process.container  = params.docker_image
    }
}

report.overwrite     = true
timeline.overwrite   = true
trace.overwrite      = true
